.overviewContainer {
  display: flex;
  flex-direction: column;
  background-color: #FFFF;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.headerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerOverview{
  font-weight: 600;
  font-size: 18px;
  color:#454545;
  padding: 20px 16px 5px 16px;
}

.description{
 padding-left: 16px;
 padding-bottom: 20px;
 font-size: 15px;
 color: #9EA7AA;
}

.overViewItemsContainer{
  width: 100%;
  height: 100%;
  border: 1px solid #D3D3D3;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.nav-tabs .nav-link.active {
  font-weight: 600;
  color: black;
  border-color: black;
}