.topNavWrapper{
  display: grid;
  padding: 20px 20px;
  width: 100%;
  height: 90px;
  background: #FFFFFF;
  border-bottom: 1px solid #00766C;
  
}
.topNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #00766C;
}

.balance{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#current{
  color:black
}
#currency{
  display: flex;
}

.wallet{
  margin-right:8px;
}

#savings{
  font-weight: 400;
  color:black;
  font-size: 15px;
}
.features{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.threeDots{
  height: 75%
}

.search{
  width: 20%;
  height: 100%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  background-color: #00766C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchInput{
  width: 100%;
  height: 100%;
  color: #00766C;
  font-size: 15px;
  border: 1px solid #00766C;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 20px;
}

.inputGroup{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  margin-right: 2rem;
}


.input:focus{
  border-color: #00766C;
  /* box-shadow: 0 0 0 0.2rem rgba(0,123,108,.25); */
}
.form-control:focus {
  box-shadow: 0 0 0 1px #00766C;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}