.topNavWrapper{
  display: flex;
  padding: 20px 20px;
  width: 100%;
  height: 90px;
  background: #FFFFFF;
  border-bottom: 1px solid #00766C;
  
}
.topNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #00766C;
}

.balance{
  width: 20%;
}

#currency{
  display: flex;
  flex-direction: row;
}

#savings {
  padding-left: 5px;
}

.features{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.inputGroup{
  display: flex;
  width: 50%;
  padding: 8px;
  margin-right: 7px;
  align-items: center;
  border: #00766C 1px solid;
  border-radius: 5px;
}

form.searchForm{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
input.searchInput{
  width: 100%;
}

.form-control:focus {
  box-shadow: 0 0 0 1px #00766C;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  margin: 0 10px 0 10px;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}