.modalContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49,49,49,0.8);
  
}

.modal{
  width: 593px;
  height: 487px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 118, 108, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 30px;
  letter-spacing: 0.5px;
}

.modalBackground{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeader .title{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #454545;
}

.modalHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 7px 0px;
  border-bottom: 1px solid black;
}

.modalBody{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.categories{
  margin-left: 1rem;
  width: 70%;
}
.subTitle{
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
  border-bottom: 1px solid black
}

.heading{
  color: #00766C;
  text-transform: uppercase;
  
}
#textCategories{
  padding: 9px 0 10px 0;
  font-size: 18px;
  line-height: 27px;
  color: #454545
  
}
#textExpenses{
  padding: 10px 0 9px 0;
  color:#00766C;
  font-weight: 600;
  font-size: 15px;
}

.expenses{
  color: #454545;
  margin-left: 10px;
}

.expenses li{
  padding: 9px 0;
  font-size: 15px;
}

.form{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.modalFooter{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  
}

.btn{
  width: 122px;
  height: 47px;
  font-weight: 600;
  text-transform: uppercase;
}

.cancel{
  color: #00766C
}

.save{
  background-color: #00766C;
  color: #FFFFFF;
  border-radius: 5px;
}

option{
  color:black;
  padding: 10rem;
}

.input{
  
  color: #9EA7AA;
  border-color: #9EA7AA;
}
select:focus{
  border-color: #00766C;
  --tw-ring-shadow: 0 0 0 1px #00766C;
  --tw-ring-color: #00766C;
}

select{
  text-transform: uppercase;
  margin-bottom: 10px;
}

[type='text']:focus{
  border-color: #00766C;
  --tw-ring-shadow: 0 0 0 1px #00766C;
  --tw-ring-color: #00766C;
}

[type='date']:focus{
  border-color: #00766C;
  --tw-ring-shadow: 0 0 0 1px #00766C;
  --tw-ring-color: #00766C;
}

textarea:focus{
  border-color: #00766C;
  --tw-ring-shadow: 0 0 0 1px #00766C;
  --tw-ring-color: #00766C;
}
.input::placeholder{
  text-transform: uppercase;
  color: #9EA7AA;
  font-size: 15px;
}

label{
  font-size: 12px;
  color:#D3D3D3;
  line-height: 18px;
  letter-spacing: 0.5px;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.cancel:hover{
  color: #26A69A;
  transition: 0.3s ease-in-out;
}

.save:hover{
  background-color: #26A69A;
  transition: 0.3s ease-in-out; 
}
