.sideBarWrapper {
  width: 162px;
  height: 100vh;
  border-right: 1px solid #00766C;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.sideBarLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.sideBarLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 1rem;
  color:#D3D3D3
}

.navLink{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sideText{
  padding-top: 1rem;
}

.navLink.active{
  color:#00766C;
}

.navLink:hover{
  font-weight: 700;
  color:#00766C;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contents{
  width: 100vw;
  height: 100vh;
}