.sideBarWrapper {
  width: 162px;
  height: 100vh;
  border-right: 1px solid #00766C;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.sideBarLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.sideBarLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 1rem;
  color:#D3D3D3;
}

.navLink{
  font-size: 18px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sideText{
  padding-top: 1rem;
}

.navLink.active{
  font-weight: 700;
  color:#00766C;
}

.navLink:hover{
  color:#00766C;
}
